
@model Ecommerce.Models.Produto.ProdutoVD
@{
    ViewData["Title"] = "Produto";
    Layout = "_Layout";
}
<!-- slider Area Start-->
    <div class="slider-area ">
        <input type="hidden" id="hdnCodDeposito" value="@Model.CodDeposito" />
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">                    
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- slider Area End-->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="product_img_slide owl-carousel" style="width:600px; height:600px;margin-left: 250px;">
                    @{
                        foreach (var img in Model.ListaImagens)
                        {
                            <div class="single_product_img">
                                <img src=@Url.Content(img.CaminhoImagem) alt="#" class="img-fluid">
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-lg-8">
                <div class="single_product_text text-center">
                    <h3>
                        @Model.NomeProduto
                    </h3>
                    <p>
                        @Model.DscProduto
                    </p>
                    <p>Quantidade em estoque: @Model.QtdDisponivel</p>
                    <div class="card_area">
                        <div class="product_count_area">
                            <div class="product_count d-inline-block">
                                <span class="product_count_item inumber-decrement" onclick="decrementarContador()"> <i class="ti-minus"></i></span>
                                <input class="product_count_item input-number" id="contQtdItem" type="text" value="0" min="0" max="10">
                                <span class="product_count_item number-increment" onclick="incrementarContador()"> <i class="ti-plus"></i></span>
                            </div>
                            <input type="hidden" id="valPrecoOriginal" value="@Model.PrecoVenda" />
                            <input type="hidden" id="codProduto" value="@Model.CodProduto" />

                            <p>R$ <span id="spanPreco">@Model.PrecoVenda</span></p>
                        </div>
                        <div class="add_to_cart">
                            <button onclick="AdicionarAoCarrinho()" class="btn_3">Adicionar ao carrinho</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Produto/DetalheProduto.js"></script>